* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  overflow: hidden;
  background: #131415;
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  flex-grow: 1;
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 45pt;    
  height: 100%;     
  background-color: #131415;  
  padding-top: 20px;     
}

.navbar-logo,
.navbar-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 30pt; 
  width: 50%; 
}

.navbar-btn {
  width: 32pt; 
  height: 32pt; 
  margin: 20px auto;
  background-color: #282A2D;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20%;
  transition: background-color 0.3s;
}

.navbar-btn:hover {
  background-color: #3a3a3d;
}

.scoreboard {
  margin-left: 50pt;
  margin-top: 1%;
  padding: 20px;
  background-color: #282A2D;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-height: 80vh;      
  overflow-y: auto;    
}

.upper-section,
.lower-section {
  padding: 2pt;
  border: 1px solid #282A2D;
  margin: 10px 0;
  border-radius: 5px;
}

.upper-section {
  margin-top: -10pt;
}

.score-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
}

.score-label {
  font-weight: bold;
}

.score-value {
  text-align: right;
}

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #131415;
  background-image: url('./Assets/Background logo high res black.png');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
}

.dice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 40%;
  height: 80%;
  margin-left: 0;
  margin-right: auto;
  position: relative; /* Ensures that the absolutely positioned dice are relative to this container */
}


.dice {
  transition: transform 0.2s ease;
  position: absolute;
  width: 10vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
}

.dice:hover,
.dice.held {
  transform: scale(1.1);
}

.dice.held {
  opacity: 0.35;
  border: 2px solid red;
}

.roll-button {
  align-self: start;
  padding: 10px 20px;
  border: 2px solid #007e39;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #333;
}

.roll-button:hover {
  background-color: #007e39;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #145223;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
