.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dice {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.dice:hover {
  transform: scale(1.1);
}

.dice.held {
  border: 2px solid red;
  transform: scale(1.1);
}
.dice1 {
  height: 40vmin;
  pointer-events: none;
}
.dice2 {
  height: 40vmin;
  pointer-events: none;
}
.dice3 {
  height: 40vmin;
  pointer-events: none;
}
.dice4 {
  height: 40vmin;
  pointer-events: none;
}
.dice5 {
  height: 40vmin;
  pointer-events: none;
}
.dice6 {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #145223;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
