* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional, but recommended. This changes how element widths are calculated to include padding and borders */
}

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* This ensures no unnecessary scrollbars appear */
  background: #131415; /* Replace with your dark theme color */
  color: #fff; /* Any text color that contrasts well with your dark theme */
}
.main-content {
  display: flex;
  flex-direction: row; /* This is default and can be omitted, but added for clarity */
  align-items: start; /* Aligns children (Scoreboard and Gameboard) to the start/top */
  width: 100%;
  flex-grow: 1; /* Allows it to take up remaining space */
}
.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 45pt;    
  height: 100%;     
  background-color: #131415;  
  padding-top: 20px;     
}

.navbar-logo {
  display: block;
  margin: 0 auto;         
  width: 50%;  
  margin-bottom: 30pt;            
}

.navbar-btn {
  display: block;
  margin: 0 auto;
  width: 32pt; 
  height: 32pt; 
  margin: 20px auto;
  background-color: #282A2D;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20%;
  transition: background-color 0.3s;
}


.navbar-btn:hover {
  background-color: #3a3a3d;
}

.scoreboard {
  margin-left: 50pt;
  padding: 20px;
  background-color: #282A2D;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-height: 80vh;      
  overflow-y: auto;    
}
.upper-section {
  padding: 2pt;
  border: 1px solid #282A2D;
  margin: 10px 0;
  margin-top: -10pt;
  border-radius: 5px;
}
.lower-section {
  padding: 2pt;
  border: 1px solid #282A2D;
  margin: 10px 0;
  border-radius: 5px;
}

.score-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
}

.score-label {
  font-weight: bold;
}

.score-value {
  text-align: right;
}
.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  
  /* Background Styles */
  background-color: #131415; /* Optional: Color fallback for browsers that don't support the image */
  background-image: url('./Assets/Background logo high res black.png'); /* It's sometimes more direct to specify in CSS, but if you prefer it in the JS, this can be omitted */
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
}

.dice-container {
  justify-content: start;
  max-width: 60%;
  margin-bottom: 15pt;
  height: 65%;
}
.dice {
  transition: transform 0.2s ease;
}
.dice img {
  width: 100pt;
}

.dice:hover {
    transform: scale(1.1);
}

.dice.held {
  opacity: 0.6;
  transform: scale(1.1); /* Ensures border width is included in element's total width and height */
  border: 2px solid red;
}

.roll-button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: 1;
  border-radius: 5px;
  transition: background-color 0.2s;
}
.roll-button:hover {
  background-color: #555;
}



.roll-button {
  align-self: start;
  padding: 10px 20px;
  border: 2px solid #007e39;  /* Adjusted this line */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.roll-button:hover {
  background-color: #007e39;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #145223;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
